<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav bg-transparent navbar-top navbar-transparent-no-sticky">
                <div class="container-fluid nav-header-container height-100px padding-three-half-lr sm-height-70px sm-padding-15px-lr">
                    <!-- start header navigation -->
                    <div class="col d-none d-md-block text-left pl-0">
                        <div class="social-icon">
                            <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f text-extra-dark-gray" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fab fa-twitter text-extra-dark-gray"></i></a>
                            <a href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fab fa-dribbble text-extra-dark-gray"></i></a>
                        </div>
                    </div>
                    <!-- start logo -->
                    <div class="col text-md-center pl-0 pl-md-3">
                        <a class="logo" href="index.html"><img src="images/logo.png" data-rjs="images/logo@2x.png" class="default" alt="Pofo"></a>
                    </div>
                    <!-- end logo -->
                    <div class="col text-right pr-0">
                        <div class="hamburger-menu">
                            <div class="btn btn-hamburger border-none">
                                <button class="navbar-toggler mobile-toggle" type="button" id="open-button" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                            <div class="hamburger-menu-wrepper sm-text-center">
                                <div class="hamburger-logo text-left"><a class="logo" href="index.html"><img src="images/logo-white.png" data-rjs="images/logo-white@2x.png" alt="Pofo"></a></div>
                                <div class="btn btn-hamburger border-none">
                                    <button class="close-menu close-button-menu" id="close-button"></button>
                                </div>
                                <div class="animation-box">
                                    <div class="menu-middle">
                                        <div class="menu-wrapper d-table-cell vertical-align-middle text-left">
                                            <div class="d-md-flex">
                                                <div class="col-lg-8 col-md-7 d-flex align-items-center">
                                                    <ul class="hamburger-menu-links alt-font">
                                                        <li><a href="home-classic-corporate.html" title="Home">Home</a></li>
                                                        <li><a href="about-me.html" title="Pages">Pages</a></li>
                                                        <li><a href="portfolio-full-width-grid-overlay.html" title="Portfolio">Portfolio</a></li>
                                                        <li><a href="blog-standard-full-width.html" title="Blog">Blog</a></li>
                                                        <li><a href="accordions.html" title="Contact">Elements</a></li>
                                                        <li><a href="transparent-header.html" title="Shortcode">Features</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4 col-md-5 d-flex align-items-center social-style-3">
                                                    <div class="width-100">
                                                        <span class="text-extra-large text-deep-pink alt-font d-block margin-15px-bottom">London Based Creative Studio</span>
                                                        <span class="text-medium alt-font d-block font-weight-300 margin-15px-bottom line-height-30">301 The Greenhouse,<br>Custard Factory, London, E2 8DY.<br/>Call - +44 (0) 123 456 7890<br/>Email - <a href="mailto:info@domain.com" class="text-white-2" target="_blank">info@domain.com</a></span>
                                                        <div class="separator-line-horrizontal-medium-light2 bg-deep-pink margin-25px-tb sm-margin-15px-tb d-inline-block"></div>
                                                        <div class="social-icon-style-9">
                                                            <ul class="small-icon">
                                                                <li><a class="margin-20px-right facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                                <li><a class="margin-20px-right twitter" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                                <li><a class="margin-20px-right google" href="http://google.com" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                                                <li><a class="margin-20px-right dribbble" href="http://dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                                                <li><a class="inkedin" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Navigation -->
            </nav>
            <!-- end navigation -->
        </header>
        <!-- end header -->
        <!-- start slider section -->
        <section class="p-0 position-absolute width-100 height-100 top-0">
            <div class="swiper-auto-slide swiper-container white-move">
                <div class="swiper-wrapper">
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('http://placehold.it/1200x700');">
                        <div class="opacity-extra-medium bg-black"></div>
                        <div class="position-relative height-100">
                            <div class="absolute-middle-center width-100 text-center">
                                <div class="parallax-text">
                                    <h2 class="text-white-2 alt-font font-weight-600 parallax-text-shadow"><a href="single-project-page-01.html" class="text-white-2 text-white-2-hover">Pixflow Studio</a></h2>
                                </div>
                            </div>
                            <span class="text-medium position-absolute bottom-50 text-light-gray width-100 text-center"><a href="portfolio-full-width-grid-overlay.html" class="text-white-2 text-white-2-hover">Branding & Brochure</a></span>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('http://placehold.it/1200x700');">
                        <div class="opacity-extra-medium bg-black"></div>
                        <div class="position-relative height-100">
                            <div class="absolute-middle-center width-100 text-center">
                                <div class="parallax-text">
                                    <h2 class="text-white-2 alt-font font-weight-600 parallax-text-shadow"><a href="single-project-page-02.html" class="text-white-2 text-white-2-hover">Tailoring Blog</a></h2>
                                </div>
                            </div>
                            <span class="text-medium position-absolute bottom-50 text-light-gray width-100 text-center"><a href="portfolio-full-width-grid-overlay.html" class="text-white-2 text-white-2-hover">UI Design & Identity</a></span>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('http://placehold.it/1200x700');">
                        <div class="opacity-extra-medium bg-black"></div>
                        <div class="position-relative height-100">
                            <div class="absolute-middle-center width-100 text-center">
                                <div class="parallax-text">
                                    <h2 class="text-white-2 alt-font font-weight-600 parallax-text-shadow"><a href="single-project-page-03.html" class="text-white-2 text-white-2-hover">Design Blast</a></h2>
                                </div>
                            </div>
                            <span class="text-medium position-absolute bottom-50 text-light-gray width-100 text-center"><a href="portfolio-full-width-grid-overlay.html" class="text-white-2 text-white-2-hover">Logo & Brochure</a></span>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('http://placehold.it/1200x700');">
                        <div class="opacity-extra-medium bg-black"></div>
                        <div class="position-relative height-100">
                            <div class="absolute-middle-center width-100 text-center">
                                <div class="parallax-text">
                                    <h2 class="text-white-2 alt-font font-weight-600 parallax-text-shadow"><a href="single-project-page-04.html" class="text-white-2 text-white-2-hover">Rubber Studio</a></h2>
                                </div>
                            </div>
                            <span class="text-medium position-absolute bottom-50 text-light-gray width-100 text-center"><a href="portfolio-full-width-grid-overlay.html" class="text-white-2 text-white-2-hover">Branding & Identity</a></span>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('http://placehold.it/1200x700');">
                        <div class="opacity-extra-medium bg-black"></div>
                        <div class="position-relative height-100">
                            <div class="absolute-middle-center width-100 text-center">
                                <div class="parallax-text">
                                    <h2 class="text-white-2 alt-font font-weight-600 parallax-text-shadow"><a href="single-project-page-05.html" class="text-white-2 text-white-2-hover">Eye Glasses</a></h2>
                                </div>
                            </div>
                            <span class="text-medium position-absolute bottom-50 text-light-gray width-100 text-center"><a href="portfolio-full-width-grid-overlay.html" class="text-white-2 text-white-2-hover">Web & Branding</a></span>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('http://placehold.it/1200x700');">
                        <div class="opacity-extra-medium bg-black"></div>
                        <div class="position-relative height-100">
                            <div class="absolute-middle-center width-100 text-center">
                                <div class="parallax-text">
                                    <h2 class="text-white-2 alt-font font-weight-600 parallax-text-shadow"><a href="single-project-page-06.html" class="text-white-2 text-white-2-hover">Motion Design</a></h2>
                                </div>
                            </div>
                            <span class="text-medium position-absolute bottom-50 text-light-gray width-100 text-center"><a href="portfolio-full-width-grid-overlay.html" class="text-white-2 text-white-2-hover">Branding & Identity</a></span>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url('http://placehold.it/1200x700');">
                        <div class="opacity-extra-medium bg-black"></div>
                        <div class="position-relative height-100">
                            <div class="absolute-middle-center width-100 text-center">
                                <div class="parallax-text">
                                    <h2 class="text-white-2 alt-font font-weight-600 parallax-text-shadow"><a href="single-project-page-07.html" class="text-white-2 text-white-2-hover">Hunter Design</a></h2>
                                </div>
                            </div>
                            <span class="text-medium position-absolute bottom-50 text-light-gray width-100 text-center"><a href="portfolio-full-width-grid-overlay.html" class="text-white-2 text-white-2-hover">Logo & Brochure</a></span>
                        </div>
                    </div>
                    <!-- end slider item -->
                </div>
                <!-- swiper pagination -->
                <div class="swiper-pagination swiper-pagination-square swiper-pagination-white"></div>
                <div class="swiper-scrollbar d-none d-md-inline-block"></div>
                <div class="swiper-next-style2 text-small alt-font d-none d-md-inline-block">Next <i class="fas fa-long-arrow-alt-right icon-very-small position-relative text-extra-dark-gray top-2 margin-5px-left" aria-hidden="true"></i></div>
                <div class="swiper-prev-style2 text-small alt-font d-none d-md-inline-block"><i class="fas fa-long-arrow-alt-left icon-very-small position-relative text-extra-dark-gray top-2 margin-5px-right" aria-hidden="true"></i> Prev</div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="js/bootsnav.js"></script>
        <script type="text/javascript" src="js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="js/classie.js"></script>
        <script type="text/javascript" src="js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>