<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body class="width-100">
        <!-- start header -->
        <header class="no-sticky">
            <!-- start navigation -->
            <nav class="navbar full-width-pull-menu navbar-top-scroll no-border-top white-link no-transition">
                <!-- start navigation panel -->
                <div class="container-fluid nav-header-container height-100px padding-three-half-lr sm-height-70px sm-padding-15px-lr">
                    <!-- start logo -->
                    <div class="col-auto pl-0"><a href="index.html" title="Pofo" class="logo"><img src="images/logo-full-white.png" data-rjs="images/logo-full-white@2x.png" alt="Pofo"></a></div>
                    <!-- end logo -->
                    <!-- start main menu -->
                    <div class="col-auto pr-0">
                        <div class="menu-wrap full-screen d-flex">
                            <div class="col-md-6 p-0 d-none d-md-block"> 
                                <div class="cover-background full-screen" style="background-image:url('images/menu-background-1.png')">     
                                    <div class="opacity-medium bg-extra-dark-gray"></div>
                                    <div class="position-absolute height-100 width-100 text-center">
                                        <div class="display-table height-100 width-100">
                                            <div class="display-table-cell height-100 width-100 vertical-align-middle position-relative">
                                                <a href="index.html"><img alt="" src="images/logo-white-big.png" data-rjs="images/logo-white-big@2x.png"></a>
                                                <div class="position-absolute bottom-50 text-center width-100 margin-30px-bottom">
                                                    <div class="text-small text-extra-medium-gray">&COPY; 2019 POFO is Proudly Powered by <a href="http://www.themezaa.com/" title="ThemeZaa" class="text-extra-medium-gray text-deep-pink-hover" target="_blank">ThemeZaa</a></div>
                                                </div>
                                            </div>
                                        </div>                                                            
                                    </div>                                                    
                                </div>
                            </div>
                            <div class="col-md-6 p-0 bg-white full-screen">
                                <div class="position-absolute height-100 width-100 overflow-auto">
                                    <div class="display-table height-100 width-100">
                                        <div class="display-table-cell height-100 width-100 vertical-align-middle padding-fourteen-lr alt-font link-style-2 md-padding-seven-lr sm-padding-15px-lr">
                                            <!-- start menu -->
                                            <ul class="font-weight-600 sm-no-padding-left">
                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Home</a><span data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">
                                                        <li><a href="index.html">Classic corporate</a></li>
                                                        <li><a href="home-creative-studio.html">Creative studio</a></li>
                                                        <li><a href="home-portfolio-minimal.html">Portfolio minimal</a></li>
                                                        <li><a href="home-blog-personal.html">Blog personal</a></li>
                                                    </ul>
                                                </li>
                                                <!-- end menu item -->
                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Pages</a><span data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">
                                                        <li><a href="about-us-simple.html">About</a></li>
                                                        <li><a href="services-simple.html">Services</a></li>
                                                        <li><a href="contact-us-simple.html">Contact us</a></li>
                                                        <li><a href="team-simple.html">Team</a></li>
                                                        <li><a href="404.html">Additional pages</a></li>
                                                    </ul>
                                                </li>
                                                <!-- end menu item -->
                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Portfolio</a><span data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">
                                                        <li><a href="portfolio-full-width-masonry-overlay.html">Portfolio masonry</a></li>
                                                        <li><a href="portfolio-full-width-metro-overlay.html">Portfolio metro</a></li>
                                                        <li><a href="portfolio-full-width-image-gallery.html">Portfolio image gallery</a></li>
                                                        <li><a href="portfolio-boxed-grid-overlay.html">Portfolio grid</a></li>
                                                        <li><a href="single-project-page-01.html">Single project page</a></li>
                                                        <li><a href="portfolio-two-columns.html">Portfolio columns</a></li>
                                                    </ul>
                                                </li>
                                                <!-- end menu item -->
                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Blog</a><span data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">
                                                        <li><a href="blog-standard-full-width.html">Blog standard – full width</a></li>
                                                        <li><a href="blog-classic.html">Blog classic</a></li>
                                                        <li><a href="blog-list.html">Blog list</a></li>
                                                        <li><a href="blog-grid.html">Blog grid</a></li>
                                                        <li><a href="blog-masonry.html">Blog masonry</a></li>
                                                        <li><a href="blog-simple.html">Blog simple</a></li>
                                                        <li><a href="blog-clean.html">Blog clean</a></li>
                                                        <li><a href="blog-images.html">Blog images</a></li>
                                                        <li><a href="blog-only-text.html">Blog only text</a></li>
                                                        <li><a href="blog-post-layout-01.html">Blog post layout 01</a></li>
                                                        <li><a href="blog-standard-post.html">Standard post</a></li>
                                                        <li><a href="blog-gallery-post.html">Gallery post</a></li>
                                                        <li><a href="blog-slider-post.html">Slider post</a></li>
                                                        <li><a href="blog-html5-video-post.html">HTML5 video post</a></li>
                                                        <li><a href="blog-youtube-video-post.html">Youtube video post</a></li>
                                                        <li><a href="blog-vimeo-video-post.html">Vimeo video post</a></li>
                                                        <li><a href="blog-audio-post.html">Audio post</a></li>
                                                        <li><a href="blog-blockquote-post.html">Blockquote post</a></li>
                                                        <li><a href="blog-full-width-post.html">Full width post</a></li>
                                                    </ul>
                                                </li>
                                                <!-- end menu item -->
                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Elements</a><span data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">
                                                        <li><a href="accordions.html">General elements</a></li>
                                                        <li><a href="process-bar.html">Infographics / icons</a></li>
                                                        <li><a href="testimonials.html">Interactive elements</a></li>
                                                        <li><a href="heading.html">Text & containers</a></li>
                                                    </ul>
                                                </li>
                                                <!-- end menu item -->
                                                <!-- start menu item -->
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);">Features</a><span data-toggle="dropdown" class="dropdown-toggle"></span>
                                                    <ul class="dropdown-menu font-weight-300">
                                                        <li><a href="transparent-header.html">Header styles</a></li>
                                                        <li><a href="footer-standard.html">Footer</a></li>
                                                        <li><a href="page-title-left-alignment.html">Page title</a></li>
                                                        <li><a href="single-image-lightbox.html">Gallery</a></li>
                                                    </ul>
                                                </li>
                                                <!-- end menu item -->
                                            </ul>
                                            <!-- end menu -->
                                            <!-- start social links -->
                                            <div class="margin-fifteen-top padding-35px-left sm-no-padding-left">
                                                <div class="icon-social-medium margin-three-bottom">
                                                    <a href="https://www.facebook.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                                    <a href="https://twitter.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                                    <a href="https://dribbble.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                                                    <a href="https://plus.google.com" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                                                    <a href="https://www.tumblr.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fab fa-tumblr" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <!-- start social links -->
                                        </div>
                                    </div>
                                </div>
                                <button class="close-button-menu" id="close-button"></button>
                            </div>
                        </div>
                        <!-- end main menu -->
                        <button class="navbar-toggler mobile-toggle" type="button" id="open-button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
                <!-- end navigation panel -->
            </nav> 
            <!-- end navigation --> 
        </header>
        <!-- end header -->
        <!-- start slider section -->
        <section class="p-0 height-100 bg-black">
            <div class="container-fluid">
                <div class="row">
                    <div class="swiper-container swiper-four-slides white-move height-100 width-100 hover-option3">
                        <div class="swiper-wrapper">
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('http://placehold.it/800x1000');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="single-project-page-01.html"><h6 class="font-weight-300 text-white-2 margin-20px-bottom">Pixflow Studio</h6></a>
                                            <p class="text-white-2 width-85 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top md-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('http://placehold.it/800x1000');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="single-project-page-02.html"><h6 class="font-weight-300 text-white-2 margin-20px-bottom">Violator Series</h6></a>
                                            <p class="text-white-2 width-85 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top md-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('http://placehold.it/800x1000');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="single-project-page-03.html"><h6 class="font-weight-300 text-white-2 margin-20px-bottom">Redot Studio</h6></a>
                                            <p class="text-white-2 width-85 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top md-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('http://placehold.it/800x1000');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="single-project-page-04.html"><h6 class="font-weight-300 text-white-2 margin-20px-bottom">Ada Weel</h6></a>
                                            <p class="text-white-2 width-85 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top md-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('http://placehold.it/800x1000');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="single-project-page-06.html"><h6 class="font-weight-300 text-white-2 margin-20px-bottom">Ridko Haircut</h6></a>
                                            <p class="text-white-2 width-85 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top md-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('http://placehold.it/800x1000');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="single-project-page-07.html"><h6 class="font-weight-300 text-white-2 margin-20px-bottom">30 Stuhle</h6></a>
                                            <p class="text-white-2 width-85 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top md-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('http://placehold.it/800x1000');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="single-project-page-08.html"><h6 class="font-weight-300 text-white-2 margin-20px-bottom">Bang & Olufsen</h6></a>
                                            <p class="text-white-2 width-85 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top md-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('http://placehold.it/800x1000');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="single-project-page-01.html"><h6 class="font-weight-300 text-white-2 margin-20px-bottom">Beoplay</h6></a>
                                            <p class="text-white-2 width-85 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top md-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                        </div>
                        <!-- start slider pagination -->
                        <div class="swiper-pagination swiper-pagination-four-slides swiper-pagination-white"></div>
                        <div class="swiper-button-next swiper-button-black-highlight d-none"></div>
                        <div class="swiper-button-prev swiper-button-black-highlight d-none"></div>
                        <!-- end slider pagination -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="js/bootsnav.js"></script>
        <script type="text/javascript" src="js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="js/classie.js"></script>
        <script type="text/javascript" src="js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>