<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="box-layout">
            <!-- start header -->
            <header>
                <!-- start navigation -->
                <nav class="navbar navbar-default bootsnav bg-transparent">
                    <div class="container-fluid nav-header-container height-100px padding-three-half-lr sm-height-70px sm-padding-15px-lr">
                        <!-- start header navigation -->
                        <div class="col d-none d-md-block text-left pl-0">
                            <div class="social-icon">
                                <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f text-extra-dark-gray" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fab fa-twitter text-extra-dark-gray"></i></a>
                                <a href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fab fa-dribbble text-extra-dark-gray"></i></a>         
                            </div>
                        </div>
                        <!-- start logo -->
                        <div class="col text-md-center pl-0 pl-md-3">
                            <a class="logo" href="index.html"><img src="images/logo.png" data-rjs="images/logo@2x.png" class="default" alt="Pofo"></a>
                        </div>
                        <!-- end logo -->
                        <div class="col text-right pr-0">
                            <div class="hamburger-menu">
                                <div class="btn btn-hamburger border-none">
                                    <button class="navbar-toggler mobile-toggle" type="button" id="open-button" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                                <div class="hamburger-menu-wrepper sm-text-center">
                                    <div class="hamburger-logo text-left"><a class="logo" href="index.html"><img src="images/logo-white.png" data-rjs="images/logo-white@2x.png" alt="Pofo"></a></div>
                                    <div class="btn btn-hamburger border-none">
                                        <button class="close-menu close-button-menu" id="close-button"></button>
                                    </div>
                                    <div class="animation-box">
                                        <div class="menu-middle">
                                            <div class="menu-wrapper display-table-cell vertical-align-middle text-left">
                                                <div class="d-md-flex">
                                                    <div class="col-lg-8 col-md-7 d-flex align-items-center">
                                                        <ul class="hamburger-menu-links alt-font">
                                                            <li><a href="home-classic-corporate.html" title="Home">Home</a></li>
                                                            <li><a href="about-me.html" title="Pages">Pages</a></li>
                                                            <li><a href="portfolio-full-width-grid-overlay.html" title="Portfolio">Portfolio</a></li>
                                                            <li><a href="blog-standard-full-width.html" title="Blog">Blog</a></li>
                                                            <li><a href="accordions.html" title="Contact">Elements</a></li>
                                                            <li><a href="transparent-header.html" title="Shortcode">Features</a></li>
                                                            <li class="menu-new"><a href="home-classic-business.html">Classic business</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-4 col-md-5 d-flex align-items-center social-style-3">
                                                        <div>
                                                            <span class="text-extra-large text-deep-pink alt-font display-block margin-15px-bottom">London Based Creative Studio</span>
                                                            <span class="text-medium alt-font display-block font-weight-300 margin-15px-bottom line-height-30">301 The Greenhouse,<br>Custard Factory, London, E2 8DY.<br/>Call - +44 (0) 123 456 7890<br/>Email - <a href="mailto:info@domain.com" class="text-white-2" target="_blank">info@domain.com</a></span>
                                                            <div class="separator-line-horrizontal-medium-light2 bg-deep-pink margin-25px-tb sm-margin-15px-tb display-inline-block"></div>
                                                            <div class="social-icon-style-9">
                                                                <ul class="small-icon">
                                                                    <li><a class="margin-20px-right facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                                    <li><a class="margin-20px-right twitter" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                                    <li><a class="margin-20px-right google" href="http://google.com" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                                                    <li><a class="margin-20px-right dribbble" href="http://dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                                                    <li><a class="inkedin" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Header Navigation -->
                </nav>
                <!-- end navigation -->
            </header>
            <!-- end header -->
            <!-- start parallax section -->
            <section class="wow fadeIn one-fourth-screen cover-background" style="background-image: url('http://placehold.it/1920x1200')">
                <div class="container">
                    <div class="row">
                        <div class="col-12"></div>
                    </div>
                </div>
            </section>
            <!-- end parallax section -->
            <!-- start about section -->
            <section class="wow fadeIn bg-extra-dark-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 md-margin-50px-bottom sm-margin-30px-bottom wow fadeInLeft">
                            <h2 class="alt-font font-weight-700 letter-spacing-minus-2 text-white-2 margin-5px-bottom">Meat Bun</h2>
                            <h6 class="alt-font font-weight-300">Fast food branding.</h6>
                            <p class="margin-35px-bottom d-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <a href="index.html" class="btn btn-transparent-light-gray btn-small">Launch Website</a>
                        </div>
                        <div class="col-12 col-lg-4 offset-lg-2 wow fadeInRight">
                            <ul class="list-style-9 margin-twelve-left">
                                <li class="text-uppercase"><span class="d-block text-extra-small text-white-2">Client</span>Jason Richardson</li>
                                <li class="text-uppercase"><span class="d-block text-extra-small text-white-2">Industry</span>Adventure / Travel</li>
                                <li class="text-uppercase"><span class="d-block text-extra-small text-white-2">Services</span>Design, Art Direction, Website</li>
                                <li class="text-uppercase"><span class="d-block text-extra-small text-white-2">Website</span><a href="index.html">www.meatbun.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end about section -->
            <!-- start parallax section -->
            <section class="p-0 parallax one-fifth-screen md-height-500px sm-height-350px background-position-x-50 wow fadeIn" data-stellar-background-ratio="0.4" style="background-image: url('http://placehold.it/1920x1080')">
                <div class="container">
                    <div class="row">
                        <div class="col-12"></div>
                    </div>
                </div>
            </section>
            <!-- end parallax section -->
            <!-- start feature box section -->
            <section class="wow fadeIn">
                <div class="container"> 
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-5 text-center md-margin-30px-bottom wow fadeInLeft">
                            <img src="http://placehold.it/800x650" alt="" class="border-radius-6 width-100">
                        </div> 
                        <div class="col-12 col-lg-7 wow fadeInRight" data-wow-delay="0.2s">
                            <div class="padding-twelve-lr text-center text-lg-left md-no-padding width-100">
                                <span class="text-deep-pink alt-font margin-10px-bottom d-inline-block text-medium">Brand & website to prime new company.</span>
                                <h6 class="alt-font text-extra-dark-gray">We are committed to our customers’ success from start to finish. Our input helps make their solutions.</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is printing and typesetting simply dummy text.</p>
                                <a href="portfolio-full-width-grid-overlay.html" class="btn btn-dark-gray btn-small text-extra-small btn-rounded margin-5px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i> View Case Study</a>
                            </div>
                        </div>
                    </div>
                    <div class="divider-full bg-extra-light-gray margin-seven-bottom margin-eight-top"></div>
                    <div class="row">
                        <!-- start feature box item -->
                        <div class="col-12 col-md-4 sm-margin-30px-bottom text-center text-md-left wow fadeInUp">
                            <div class="row m-0">
                                <div class="col-12 col-lg-3 col-md-4 pl-0 sm-no-padding-lr float-left sm-margin-15px-bottom">
                                    <i class="icon-desktop text-medium-gray icon-extra-medium top-6"></i>
                                </div>
                                <div class="col-12 col-lg-9 col-md-8 p-0">
                                    <span class="margin-5px-bottom text-extra-dark-gray alt-font d-block font-weight-600">Digital Solutions</span>
                                    <p class="width-75 lg-width-100 mb-0">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end feature box item -->
                        <!-- start feature box item -->
                        <div class="col-12 col-md-4 sm-margin-15px-bottom text-center text-md-left wow fadeInUp" data-wow-delay="0.2s">
                            <div class="row m-0">
                                <div class="col-12 col-lg-3 col-md-4 pl-0 sm-no-padding-lr float-left sm-margin-15px-bottom">
                                    <i class="icon-book-open text-medium-gray icon-extra-medium top-6"></i>
                                </div>
                                <div class="col-12 col-lg-9 col-md-8 p-0">
                                    <span class="margin-5px-bottom text-extra-dark-gray alt-font d-block font-weight-600">Brand Communications</span>
                                    <p class="width-75 lg-width-100 mb-0">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end feature box item -->
                        <!-- start feature box item -->
                        <div class="col-12 col-md-4 text-center text-md-left wow fadeInUp" data-wow-delay="0.4s">
                            <div class="row m-0">
                                <div class="col-12 col-lg-3 col-md-4 pl-0 sm-no-padding-lr float-left sm-margin-15px-bottom">
                                    <i class="icon-gift text-medium-gray icon-extra-medium top-6"></i>
                                </div>
                                <div class="col-12 col-lg-9 col-md-8 p-0">
                                    <span class="margin-5px-bottom text-extra-dark-gray alt-font d-block font-weight-600">Creative Strategy</span>
                                    <p class="width-75 lg-width-100 mb-0">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end feature box item -->
                    </div>
                </div>
            </section>
            <!-- end feature box section -->
            <!-- start parallax section -->
            <section class="p-0 parallax one-fifth-screen md-height-500px sm-height-350px background-position-x-50 wow fadeIn" data-stellar-background-ratio="0.4" style="background-image: url('http://placehold.it/1920x1080')">
                <div class="container">
                    <div class="row">
                        <div class="col-12"></div>
                    </div>
                </div>
            </section>
            <!-- end parallax section -->
            <!-- start blockquote section -->
            <section class="wow fadeIn big-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 mx-auto text-center">
                            <i class="fas fa-quote-left icon-small text-deep-pink d-block margin-25px-bottom"></i>
                            <h4 class="alt-font text-extra-dark-gray font-weight-600">This is an excellent company! I personally enjoyed the energy and the professional support the whole team gave to us into creating website.</h4>
                            <span class="text-uppercase text-extra-small alt-font letter-spacing-3 text-medium-gray">Mattie Stepanek</span>
                        </div>
                    </div>
                </div>
            </section> 
            <!-- end blockquote section -->
            <!-- start section -->
            <section class="p-0 bg-extra-dark-gray wow fadeIn" id="services">
                <div class="container-fluid p-0">
                    <div class="row m-0">
                        <div class="col-12 col-lg-6 position-relative md-height-500px sm-height-350px cover-background wow slideInLeft" style="background-image: url('http://placehold.it/1050x850');"></div>
                        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center last-paragraph-no-margin wow slideInRight">
                            <div class="padding-fifteen-all md-padding-ten-all sm-no-padding-lr text-center text-lg-left">
                                <span class="text-medium margin-20px-bottom d-block alt-font">We create premium designs and technology.</span>
                                <h4 class="alt-font text-light-gray">A digital studio crafting beautiful experiences.</h4>
                                <p class="width-80 lg-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                                <a href="home-creative-small-business.html" class="btn btn-small btn-white btn-rounded margin-35px-top sm-margin-25px-top">Start Your Business</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- start counter section -->
            <section class="wow fadeIn">
                <div class="container">
                    <div class="row">
                        <!-- start counter item -->
                        <div class="col-12 col-lg-3 col-md-6 md-margin-five-bottom sm-padding-15px-left sm-margin-30px-bottom text-center wow fadeInDown">
                            <h4 class="text-extra-dark-gray alt-font font-weight-600 m-0 timer" data-speed="2000" data-to="25">25</h4>
                            <span class="d-block margin-three-bottom">Art Director</span>
                            <div class="separator-line-verticle-large bg-deep-pink d-inline-block"></div>
                        </div>
                        <!-- end counter item -->
                        <!-- start counter item -->
                        <div class="col-12 col-lg-3 col-md-6 md-margin-five-bottom sm-padding-15px-left sm-margin-30px-bottom text-center wow fadeInDown" data-wow-delay="0.2s">
                            <h4 class="text-extra-dark-gray alt-font font-weight-600 m-0 timer" data-speed="2000" data-to="50">50</h4>
                            <span class="d-block margin-three-bottom">Designer</span>
                            <div class="separator-line-verticle-large bg-deep-pink d-inline-block"></div>
                        </div>
                        <!-- end counter item -->
                        <!-- start counter item -->
                        <div class="col-12 col-lg-3 col-md-6 sm-margin-seven-bottom sm-padding-15px-left sm-margin-30px-bottom text-center  wow fadeInDown" data-wow-delay="0.4s">
                            <h4 class="text-extra-dark-gray alt-font font-weight-600 m-0 timer" data-speed="2000" data-to="35">35</h4>
                            <span class="d-block margin-three-bottom">Developer</span>
                            <div class="separator-line-verticle-large bg-deep-pink d-inline-block"></div>
                        </div>
                        <!-- end counter item -->
                        <!-- start counter item -->
                        <div class="col-12 col-lg-3 col-md-6 sm-padding-15px-left text-center wow fadeInDown" data-wow-delay="0.6s">
                            <h4 class="text-extra-dark-gray alt-font font-weight-600 m-0 timer" data-speed="2000" data-to="25">25</h4>
                            <span class="d-block margin-three-bottom">Animator</span>
                            <div class="separator-line-verticle-large bg-deep-pink d-inline-block"></div>
                        </div>
                        <!-- end counter item -->
                    </div>
                </div>            
            </section>
            <!--end counter section -->
            <!-- start product preview section -->
            <section class="wow fadeIn p-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 p-0">
                            <img src="http://placehold.it/1920x1100" alt="" class="width-100">
                            <img src="http://placehold.it/1920x1100" alt="" class="width-100">
                            <img src="http://placehold.it/1920x1100" alt="" class="width-100">
                            <img src="http://placehold.it/1920x1100" alt="" class="width-100">
                            <img src="http://placehold.it/1920x1100" alt="" class="width-100">
                        </div>
                    </div>
                </div>
            </section>
            <!-- end product preview section -->
            <!-- start video section -->
            <section class="wow fadeIn parallax" data-stellar-background-ratio="0.25" style="background-image: url('http://placehold.it/1920x1100')">
                <div class="opacity-light bg-black"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-10 text-center d-flex align-items-center mx-auto one-second-screen md-height-500px sm-height-350px">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                                <div class="icon-play">
                                    <div class="absolute-middle-center">
                                        <img src="images/icon-play.png" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end video section -->
            <!-- start social links section -->
            <section class="wow fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center social-style-4">
                            <span class="text-medium font-weight-600 text-uppercase d-block alt-font text-extra-dark-gray margin-30px-bottom">Share Our Work</span>
                            <div class="social-icon-style-3">
                                <ul class="margin-30px-top medium-icon">
                                    <li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a></li>
                                    <li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i><span></span></a></li>
                                    <li><a class="google" href="http://google.com" target="_blank"><i class="fab fa-google-plus-g"></i><span></span></a></li>
                                    <li><a class="dribbble" href="http://dribbble.com" target="_blank"><i class="fab fa-dribbble"></i><span></span></a></li>
                                    <li><a class="linkedin" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end social links section -->
            <!-- start work section -->
            <section class="wow fadeIn bg-light-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 mx-auto margin-eight-bottom text-center">
                            <div class="alt-font text-medium-gray margin-10px-bottom text-uppercase text-small">Our recent works</div>
                            <h5 class="alt-font text-extra-dark-gray font-weight-600 mb-0">New stunning projects for our amazing clients</h5>
                        </div>
                    </div>
                </div>
                <div class="container-fluid padding-five-lr">
                    <div class="row no-gutters">
                        <div class="col filter-content overflow-hidden">
                            <ul class="portfolio-grid work-4col gutter-large hover-option7">
                                <li class="grid-sizer"></li>
                                <!-- start portfolio item -->
                                <li class="grid-item web branding design wow fadeInUp">
                                    <a href="single-project-page-01.html">
                                        <figure>
                                            <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                            <figcaption>
                                                <div class="portfolio-hover-main text-center last-paragraph-no-margin">
                                                    <div class="portfolio-hover-box align-middle">
                                                        <div class="portfolio-hover-content position-relative">
                                                            <span class="font-weight-600 alt-font text-uppercase margin-one-bottom d-block text-extra-dark-gray">Naked Soap</span>
                                                            <p class="text-medium-gray text-uppercase text-extra-small">Web and Photography</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item design photography wow fadeInUp" data-wow-delay="0.2s">
                                    <a href="single-project-page-02.html">
                                        <figure>
                                            <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                            <figcaption>
                                                <div class="portfolio-hover-main text-center last-paragraph-no-margin">
                                                    <div class="portfolio-hover-box align-middle">
                                                        <div class="portfolio-hover-content position-relative">
                                                            <span class="font-weight-600 alt-font text-uppercase margin-one-bottom d-block text-extra-dark-gray">Berlin Design</span>
                                                            <p class="text-medium-gray text-uppercase text-extra-small">Branding and Brochure</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item web branding design photography wow fadeInUp" data-wow-delay="0.4s">
                                    <a href="single-project-page-03.html">
                                        <figure>
                                            <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                            <figcaption>
                                                <div class="portfolio-hover-main text-center last-paragraph-no-margin">
                                                    <div class="portfolio-hover-box align-middle">
                                                        <div class="portfolio-hover-content position-relative">
                                                            <span class="font-weight-600 alt-font text-uppercase margin-one-bottom d-block text-extra-dark-gray">Abstract Comics</span>
                                                            <p class="text-medium-gray text-uppercase text-extra-small">Branding and Identity</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item advertising branding design photography wow fadeInUp" data-wow-delay="0.6s">
                                    <a href="single-project-page-04.html">
                                        <figure>
                                            <div class="portfolio-img"><img src="http://placehold.it/800x650" alt=""/></div>
                                            <figcaption>
                                                <div class="portfolio-hover-main text-center last-paragraph-no-margin">
                                                    <div class="portfolio-hover-box align-middle">
                                                        <div class="portfolio-hover-content position-relative">
                                                            <span class="font-weight-600 alt-font text-uppercase margin-one-bottom d-block text-extra-dark-gray">Teabag Collection</span>
                                                            <p class="text-medium-gray text-uppercase text-extra-small">Web and Photography</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end work section -->            
            <section class="wow fadeIn p-0 bg-extra-dark-gray">
                <div class="container-fluid p-0">
                    <div class="row justify-content-between align-items-center no-gutters padding-30px-lr md-padding-15px-lr">
                        <div class="width-45 text-left">
                            <div class="blog-nav-link blog-nav-link-prev text-extra-dark-gray">
                                <span class="text-medium-gray text-extra-small text-uppercase d-none d-md-block">Previous Project</span>
                                <a href="single-project-page-05.html">
                                    <i class="ti-arrow-left blog-nav-icon"></i>
                                    Lale’s collections
                                </a>
                            </div>
                        </div>
                        <div class="width-10 text-center">
                            <a href="portfolio-boxed-grid-overlay.html" class="blog-nav-link blog-nav-home"><i class="ti-layout-grid2-alt"></i></a>
                        </div>
                        <div class="width-45 text-right">
                            <div class="blog-nav-link blog-nav-link-next text-extra-dark-gray">    
                                <span class="text-medium-gray text-extra-small text-uppercase d-none d-md-block">Next Project</span>
                                <a href="single-project-page-07.html">
                                    <i class="ti-arrow-right blog-nav-icon"></i>
                                    Restaurant Photography
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- start footer --> 
            <footer class="footer-clean padding-five-tb sm-padding-30px-tb"> 
                <div class="footer-widget-area padding-40px-bottom sm-padding-30px-bottom">
                    <div class="container">
                        <div class="row">
                            <!-- start logo -->
                            <div class="col-lg-3 widget text-left text-md-center text-lg-left md-margin-50px-bottom sm-margin-30px-bottom">
                                <a href="http://www.themezaa.com" class="d-inline-block"><img class="footer-logo" src="images/logo.png" data-rjs="images/logo@2x.png" alt=""></a>
                            </div>
                            <!-- end logo -->
                            <!-- start contact information -->
                            <div class="col-lg-3 col-md-4 widget sm-margin-30px-bottom">
                                <div class="widget-title alt-font text-extra-small text-extra-dark-gray text-uppercase margin-15px-bottom font-weight-600">contact information</div>
                                <div class="text-small line-height-24 width-75 sm-width-100 text-medium-gray">301 The Greenhouse, Custard Factory, London, E2 8DY.</div>
                                <div class="text-small line-height-24 text-medium-gray">Email: <a href="mailto:sales@domain.com" class="text-medium-gray">sales@domain.com</a></div>
                                <div class="text-small line-height-24 text-medium-gray">Phone: +44 (0) 123 456 7890</div>
                            </div>
                            <!-- end contact information -->
                            <!-- start social media -->
                            <div class="col-lg-3 col-md-4 widget sm-margin-30px-bottom">
                                <div class="widget-title alt-font text-extra-small text-extra-dark-gray text-uppercase margin-15px-bottom font-weight-600">On social networks</div>
                                <ul class="list-unstyled">
                                    <li class="w-50 float-left"><a href="https://www.facebook.com/" target="_blank" class="text-medium-gray text-small">Facebook</a></li>
                                    <li class="w-50 float-left"><a href="https://www.pinterest.com/" target="_blank" class="text-medium-gray text-small">Pinterest</a></li>
                                    <li class="w-50 float-left"><a href="https://www.twitter.com/" target="_blank" class="text-medium-gray text-small">Twitter</a></li>
                                    <li class="w-50 float-left"><a href="https://www.linkedin.com/" target="_blank" class="text-medium-gray text-small">Linkedin</a></li>
                                    <li class="w-50 float-left"><a href="https://www.dribbble.com/" target="_blank" class="text-medium-gray text-small">Dribbble</a></li>
                                    <li class="w-50 float-left"><a href="https://www.youtube.com/" target="_blank" class="text-medium-gray text-small">Youtube</a></li>
                                    <li class="w-50 float-left"><a href="https://www.instagram.com/" target="_blank" class="text-medium-gray text-small">Instagram</a></li>
                                </ul>
                            </div>
                            <!-- end social media -->
                            <!-- start newsletter -->
                            <div class="col-lg-3 col-md-4 widget">
                                <div class="widget-title alt-font text-extra-small text-extra-dark-gray text-uppercase margin-20px-bottom font-weight-600">subscribe newsletter</div>
                                <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
                                    <div class="position-relative w-100">
                                        <div id="success-subscribe-newsletter" class="mx-0"></div>
                                        <input type="text" id="email" name="email" class="bg-transparent text-small margin-10px-bottom" placeholder="Enter your email...">
                                        <button id="button-subscribe-newsletter" type="submit" class="btn btn-dark-gray btn-very-small">subscribe</button>
                                    </div>   
                                </form>
                            </div>
                            <!-- end newsletter --> 
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="border-color-extra-light-gray border-top padding-40px-top sm-padding-30px-top">
                        <div class="row"> 
                            <!-- start copyright -->
                            <div class="col-12 text-small text-center text-medium-gray">&COPY; 2019 POFO is Proudly Powered by <a href="http://wwwo.themezaa.com" target="_blank" title="ThemeZaa" class="text-medium-gray">ThemeZaa</a></div>
                            <!-- end copyright -->
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end footer -->
            <!-- start scroll to top -->
            <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
            <!-- end scroll to top  -->
        </div>
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="js/bootsnav.js"></script>
        <script type="text/javascript" src="js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="js/classie.js"></script>
        <script type="text/javascript" src="js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>